
  .control-label {
    text-align: right;
  }

  .mdi-asterisk {
    color: #bd4147;
  }

  ul li,
  ol li {
    list-style-type: none;
  }

  .nav {
    width: 100%;
    /*margin:20px auto;*/

  }

  .nav p {
    display: block;
    padding-left: 10px;
    line-height: 30px;
    border: 1px solid #ebebeb;
  }

  .set,
  .setIcon {
    width: 100%;
    height: 38px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 12px;
    line-height: inherit;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .new {
    /*width:198px;*/
    width: 92%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid #CCC;
    display: none;
    z-index: 999;
    background: white;
    padding: 0;
  }

  .nav ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 30px;
    cursor: pointer;
    padding: 6px 10px !important;
  }

  .nav ul li.dd-item:hover {
    background: #CCC;
    color: #FFF;
  }

  p {
    margin: 0;
  }

  .nav>p.set:after,
  .col-md-11>p.setIcon:after {
    transform: rotate(90deg);
    position: absolute;
    right: 16px;
    font-family: 'Material Design icons';
    font-size: 20px;
    line-height: 1.55;
    content: '\f142';
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

  .icons {
    width: 91%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid #CCC;
    display: none;
    z-index: 999;
    background: white;
    padding: 12px 0 0 12px;
  }

  .icons a {
    float: left;
    width: 50px;
    height: 50px;
    padding: 12px;
    margin: 0 12px 12px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;

  }

  .dd {
    position: relative;
    display: block;
    margin: 10px;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
  }

  .dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .dd-list .dd-list {
    padding-left: 30px;
  }

  .dd-collapsed .dd-list {
    display: none;
  }

  .dd-item,
  .dd-empty,
  .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .dd-handle {
    display: block;

    margin: 1px 0;
    padding: 8px 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #fff;
  }

  .dd-handle:hover {
    color: var(--primary);
    background: #fff;
  }

  .dd-item>button {
    display: block;
    position: relative;
    right: 40px;
    top: 5px;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    border: 0;
    background: transparent;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
  }

  .search_icon {
    position: relative;
    right: 30px;
    color: #666;
  }
